<div class="container__header">
  <div class="container__header__content">
      <section class="container__header__content__left d-flex">
          <!--<div>
              <img alt="brasao" src="./../../../../assets/image/brasao_policiacivil.png"/>
          </div>-->
          <div class="container__header__content__left__title">
              <h1>{{ title }}</h1>
              <a>{{ subtitle }}</a>
          </div>
      </section>

      <section class="container__header__content__right d-flex mt-2">
          <a>{{ portifolio }}</a>
      </section>
  </div>
  <div class="container__header__navbar">
      <!--<div [routerLink]="option.router" *ngFor="let option of navBarOptions">
          <i class="{{ option.icon }}" aria-hidden="true"></i>
          <a>{{ option.label }}</a>
      </div>-->
  </div>
</div>
