.container__footer__middle {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #afabab;
  color: #0a0a0a;
  border-top: 5px solid #717274;
  font-weight: bold;


}
